{% extends "base.html" %}
{% block title %}Files{% endblock %}
{% block heading %}Media files{% endblock %}
{% block content %}
{% if path is not none %}
<h6>{{ path.name }}</h6>
{% endif %}
<table class="w3-table w3-striped">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  {% if parent is not none %}
  <tr>
    <td><a href="{{ prefix }}/{{ parent.quote }}">..</a></td>
    <td></td>
    <td></td>
  </tr>
  {% endif %}
  {% for file in filelist %}
  <tr>
    {% if file.path.is_dir() %}
    <td><a href="{{ prefix }}/{{ file.quote }}">{{ file.name }}</a></td>
    {% else %}
    <td>{{ file.name }}</td>
    {% endif %}
    <td><a href="{{ prefix }}/download/{{ file.quote }}">download</a></td>
    {% if file.path.is_file() %}
    <td><a href="{{ prefix }}/raw/{{ file.quote }}">view</a></td>
    {% else %}
    <td></td>
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endblock %}
